@media only screen and (min-width: 360px){
	.content > h1{
	font-size: 30px;
	margin: 5%;
	}

		.content > p{
		font-size: 20px;
		margin: 5%;
	}	
		.title { 
		top:40%;
	}

		.title > h1 {
			font-size: 40px;
			margin: 5%;
	}
		.image > img{
		height: auto;
		width: 70%;
		margin-left: 15%;
	}

	.image > p{
		text-align: center;
		font-size: 40px;
		margin-top: 5%;
	}
	.slider h1{
		font-size: 50px;
	}

	.container2 h1{
		padding-top: 2%;
		text-transform: uppercase;
		color: white;
		font-size: 40px;
	}

	.container2 p{
		color: white;
		font-size: 20px;
		padding: 5%;
	}
}

@media only screen and (min-width: 768px){
		.content > h1{
		font-size: 50px;
		margin: 5%;
	}

		.content > p{
		font-size: 40px;
		margin: 5%;
	}
		.title { 
		top:40%;
		width:100%;
	}

		.title > h1 {
		font-size: 70px;
		margin: 10%;
	}
	.nav-item > a {
		font-size: 20px;

	}

	.container2{
		height: 100vh;
	}

	.container2 h1{
		font-size: 80px;
	}

	.container2 p{
		font-size: 30px;
		padding: 5%;
	}

	.slider h1{
		font-size: 50px;
	}
}
@media only screen and (min-width: 1000px){
	.title > h1{
		font-size: 50px;
	}
	.title{
		top: 25%;
	
	}
	.container2{
		height: 110vh;
	}

	.container2 h1{
		font-size: 80px;
	}

	.slider h1{
	text-align: center;
	font-size: 100px;
}
}
