*{
	margin: 0;
	padding: 0;
	font-family: 'Major Mono Display', monospace;
}


.collapse{
	margin-right: 5px;
}
nav{
	background-color: black;
	position: fixed;
}

.nav-item > a {
	color: white;
	font-size: 20px;
	padding: 10px;
	font-size: 30px;
	margin-left: 15px;
}

.nav-item > a:hover{
	background-color:gray;
	border-radius: 5px;
	padding: 10px;
	color: white;
}


.navbar img {
	height: 80px;
	width: 90px;
	border-radius: 50%;
	transition: 2s;
	box-shadow: 5px 10px 15px white;
	border: 3px solid white;
	margin-top: -9px;
}

.navbar img:hover{
  transform: rotate(360deg);
}

.navbar-toggler{
	margin-top: -15px;
}

.d-block{
	height: 100vh;
	width: 100vw;
	border: 2px solid black;
}
.carousel-item > img{
	height: 90vh;

}

.block > img {
	height: 100px;
}
.lead{
	position: relative;
	z-index: 5;
}


.title { 
  color:#fff;
  position:absolute;
  z-index:7;
  top:40%;
  left:0;
  width:100%;
  text-align:center;
}

.title > h1 {
	font-size: 40px;
}

.image > img{
	height: auto;
	width: 100%;
	margin-top: 15%;
	border-radius: 100%;
	margin-right: 15%;
}

.image > img:hover{
	transform: scale(1.5);
}
.image > p{
	text-align: center;
	font-size: 40px;
}

.container1 { 
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
 .content {
 	position: absolute;
 	max-width: 1000px;
 	margin: 0 auto;
 	text-align: center;
 }

.content > h1{
	font-size: 50px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;

}

.content > p{
	font-size: 35px;
	color: #fff;
	text-align: center;
}


.slider{
	background-color: gray;
	height: 80vh;
	color: white;
}
.slider h1{
	text-align: center;
	font-size: 100px;
}

.slider ul {
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	height: 65vh;
	background: #ccc;
	margin: 0;
	padding: 0;	

}
.slider ul > li {
	list-style: none;
	position: relative;
	width: 20%;
	height: 100%;
	border-right: 1px solid #000;
	float: left;
	box-sizing: border-box;
	transition: 0.5s;
	text-align: center;
	overflow: hidden;
}
.slider ul:hover > li {
	width: 10%;
}

.slider ul > li:hover {
	width: 60%;
}

.slider ul > li:nth-child(1){
	background: url('../images/car4.jpg');
	background-size: cover;
	background-position: left;
}
.slider ul > li:nth-child(2){
	background: url('../images/car2.jpg');
	background-size: cover;
	background-position: left;
}.slider ul > li:nth-child(3){
	background: url('../images/car7.jpg');
	background-size: cover;
	background-position: left;
}.slider ul > li:nth-child(4){
	background: url('../images/car8.jpg');
	background-size: cover;
	background-position: left;
}
.slider ul > li:nth-child(5){
	background: url('../images/car9.jpg');
	background-size: cover;
	background-position: left;
}

.slider ul li > .content1{
	position: absolute;
	bottom: -100%;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,.8);
	box-sizing: border-box;
	opacity: 0;
}

.slider ul li .content1 > h1{
	font-family: 'Handlee', cursive;
	font-size: 30px;
	text-transform: uppercase;
}
.slider ul li .content1 >p{
	font-size: 25px;
	font-family: 'Handlee', cursive;
	text-transform: uppercase;
}

.slider ul li:hover > .content1{
	bottom: 0;
	transition: 0.5s;
	transition-delay: 0.5;
	opacity: 1;
}

.container2 {
	text-align: center;
	background: #34495e;
	height: 110vh;
}

.container2 h1{
	padding-top: 2%;
	text-transform: uppercase;
	color: white;
	font-size: 80px;
}

.container2 p{
	color: white;
	font-size: 30px;
	padding: 4%;
}

.contact {
	background: url() no-repeat center;
	background-size: cover;
	padding: 40px 0;
}

.contact h1{
	text-align: center;
	color: black;
}
.border{
	width: 100px;
	height: 10px;
	background: #34495e;
	margin: 40px auto;
}

.contact-form{
	max-width: 600px;
	margin:auto;
	padding: 0 10px;
	overflow: hidden;
}

.contact-form-text{
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 16px 0;
	border: 0;
	background: #111;
	padding: 20px 40px;
	outline: none;
	color: #ddd;
	transition: 0.5s;
}
.contact-form-text:focus{
	box-shadow: 0 0 10px 4px #34495e;
}

.textarea.contact-form-text{
	resize: none;
}

.contact-form-btn{
	float: right;
	border: 0;
	background: #34495e;
	color: white;
	padding: 12px 50px;
}

.footer{
	background-color: black;
	position: relative;
	height: 100px;
	margin-top: -20px;
	clear: both;
}

.icon{
	position: absolute;
	top: 40%;
	left: 45%;
}

.icon a {
	display: inline-flex;
	width: 40px;
	height: 40px;
	background: #2c3e50;
	color: white;
	margin: 0 6px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	font-size: 22px;
}
